@model IEnumerable<KTX.Models.Post>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout="_Layout1";
}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    @*<li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>                                       
                    <li>
                        <a href="ListUsers" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                    </li>*@
                    <li class="nav-item">
                            <a class="nav-link px-0 " asp-area="" asp-controller="Account" asp-action="Index">Danh sách sinh viên</a>
                    </li>                        
                    <li class="nav-item">
                            <a class="nav-link px-0" asp-area="" asp-controller="Post" asp-action="Index">Danh sách bài đăng</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link px-0" asp-area="" asp-controller="ListRooms" asp-action="Index">Danh sách phòng</a>
                    </li>
                </ul>
               
            </div>
        </div>
        <div class="col py-3">
            
            <div class ="container p-2">
                <div class= "row pt-4"> 
                    <div class="col-6">
                        <h2 class="text-primary"> 
                            Danh sách bài đăng
                        </h2>
                    </div>
                    <div class="col-6 text-end">
                        <a asp-action="Create" class="btn btn-primary">
                         <i class="bi bi-plus-circle-fill"></i>  Tạo mới
                        </a>
                    </div>
                </div>    
            </div>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DatePost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Content)
                        </th>
                        <th>
                           Edit
                        </th>
                        <th>
                           Detail
                        </th>
                        <th>
                           Del
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatePost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                                <i class="bi bi-pencil-square"></i></a>                            
                        </td>
                        <td>                            
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary"> 
                                <i class="bi bi-info-circle-fill"></i></a>                             
                        </td>
                        <td>                           
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">
                               <i class="bi bi-x-circle-fill"></i>  </a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>

            
        </div>
    </div>
</div>


