@model IEnumerable<KTX.Models.User>

@{
    ViewData["Title"] = "Index1";
    int i = 0;
}
@{
   Layout="_Layout1";
}


<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    
                    <li class="nav-item">
                            <a class="nav-link px-0" asp-area="" asp-controller="Account" asp-action="Index">Danh sách sinh viên</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link px-0 " asp-area="" asp-controller="ListUsers" asp-action="Index">Danh sách sinh viên</a>
                    </li>  *@                      
                    <li class="nav-item">
                            <a class="nav-link px-0" asp-area="" asp-controller="Post" asp-action="Index">Danh sách bài đăng</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link px-0" asp-area="" asp-controller="ListRooms" asp-action="Index">Danh sách phòng</a>
                    </li>
                    
                    @*<li class="nav-item">
                            <a class="nav-link px-0" asp-area="" asp-controller="Account" asp-action="Index4">DDD2</a>
                    </li>*@
                    
                </ul>
               
            </div>
        </div>
        <div class="col py-3"> 

             <div class ="container p-2">               
                    @using (Html.BeginForm("Index", "Account", FormMethod.Get)){
                    <p>
                        Email: @Html.DropDownList("userEmail", "All")
                        CMND: @Html.TextBox("SearchString")
                        <input type="submit" value="Tìm kiếm" />
                    </p>}
            </div>
      
            <div class ="container p-2">
                <div class= "row pt-4"> 
                    <div class="col-6">
                        <h2 class="text-primary"> 
                            Danh sách Sinh Viên
                        </h2>
                    </div>
                    <div class="col-6 text-end">
                        <a asp-action="Create" class="btn btn-primary">
                         <i class="bi bi-plus-circle-fill"></i>  Tạo mới
                        </a>

                    </div>

                </div>
    
            </div>

            <table class="table table-sm ">
                <thead class="table-bordered">
                    <tr>
                        <th>
                            #
                        </th> 
                        <th>
                            CMND
                        </th>                        
                        <th>
                            Họ và tên
                        </th>                        
                        <th>
                            Giới tính
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                           Edit
                        </th>
                        <th>
                           Detail
                        </th>
                        <th>
                           Delete
                        </th>
                        @*<th></th>*@
                    </tr>
                </thead>
                <tbody>
            
            @foreach (var item in Model) {
                i++;
                    <tr>                        
                        <td>
                            @(i)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdentityId)
                        </td>                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Fullname)
                        </td>                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TelephoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                                <i class="bi bi-pencil-square"></i></a>                            
                        </td>
                        <td>                            
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary"> 
                                <i class="bi bi-info-circle-fill"></i></a>                             
                        </td>
                        @*<td>                            
                            <a asp-action="DetailRent" asp-route-id="@item.Id" class="btn btn-primary"> 
                                <i class="bi bi-info-circle-fill"></i></a>                             
                        </td>*@
                        <td>                           
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">
                               <i class="bi bi-x-circle-fill"></i>  </a>
                        </td>
                        
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</div>

