@model PaginatedList<KTX.Models.User>

@{
    ViewData["Title"] = "Index";
    int o = 0;
}
@{
    Layout="_Layout1";
}


<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    
                    <li class="nav-item">
                            <a class="nav-link px-0" asp-area="" asp-controller="Account" asp-action="Index"> <i class="bi bi-people-fill"></i>
                                Danh sách sinh viên

                            </a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link px-0 " asp-area="" asp-controller="ListUsers" asp-action="Index">Danh sách sinh viên</a>
                    </li>  *@                      
                    <li class="nav-item">
                            <a class="nav-link px-0" asp-area="" asp-controller="Post" asp-action="Index">
                                <i class="bi bi-signpost"></i>
                                Danh sách bài đăng</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link px-0" asp-area="" asp-controller="ListRooms" asp-action="Index">
                                <i class="bi bi-house"></i>
                                Danh sách phòng</a>
                    </li>
                    
                    
                </ul>
               
            </div>
        </div>
        <div class="col py-3"> 
            <div class ="container p-2">
                <div class= "row pt-4"> 
                    <div class="col-6">
                        <h2 class="text-primary"> 
                            Danh sách Sinh Viên
                        </h2>
                    </div>
                   
                    <div class="col-6 text-end">
                        <a asp-action="Create1" class="btn btn-primary">
                         <i class="bi bi-plus-circle-fill"></i>  Tạo mới
                        </a>

                    </div>

                </div>
    
            </div>
            <div class ="container p-2">
                <form asp-action="Index" method="get">
                    <div class="form-actions no-color">
                        <p  class="text-primary" >
                            CMND/Tên : <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                            <input type="submit" value="Tìm kiếm" class="btn btn-primary" /> |
                            <a asp-action="Index" class="btn btn-primary">Trở về mặc định</a>
                        </p>
                    </div>
                </form>
            </div>
            <div class ="container p-2">
                <table class="table table-striped table-bordered border-primary">
                    <thead>

                        <tr>
                            <th>
                            #
                            </th>
                            <th>
                               <a asp-action="Index" asp-route-sortOrder="@ViewData["IdenSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">CMND</a>
                            </th>
                            @*<th>
                                Ngày sinh
                            </th>*@
                            <th>
                              <a asp-action="Index" asp-route-sortOrder="@ViewData["FullNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Họ và tên</a>
                            </th>
                            @*<th>
                                Địa chỉ
                            </th>
                            <th>
                                Hình ảnh
                            </th>*@
                            <th>
                                Giới tính
                            </th>
                            <th>
                                Số điện thoại
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Chỉnh sửa
                            </th>
                            <th>
                               Chi tiết
                            </th>
                            <th>
                               Xóa
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                            o++;
                            <tr>
                            
                            <td>
                                @(o)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdentityId)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.BirthDay)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Fullname)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImageUrl)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TelephoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            @*<td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                                <i class="bi bi-pencil-square"></i></a>                            
                            </td> *@
                            <td>
                                <a asp-action="Edit1" asp-route-id="@item.Id" class="btn btn-primary">
                                <i class="bi bi-pencil-square"></i></a>                            
                            </td>
                            @*<td>                            
                                <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary"> 
                                    <i class="bi bi-info-circle-fill"></i></a>                             
                            </td>*@
                            <td>                            
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary"> 
                                    <i class="bi bi-info-circle-fill"></i></a>                             
                            </td>                            
                            <td>                           
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">
                                   <i class="bi bi-x-circle-fill"></i>  </a>
                            </td>
                        </tr>
                }
                    </tbody>
                </table>
            </div>
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @prevDisabled">
                Trang trước
            </a>
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @nextDisabled">
                Trang tiếp theo
            </a>
            <div class="container p-2">
                <a asp-action="ExportToExcel" asp-controller="Account" class="btn btn-primary">
                    Tải file Excel
                </a>
             </div>
             <div class="container p-2">
                <a asp-action="BatchUserUpload" asp-controller="Account" class="btn btn-primary">
                    Nhập file Excel
                </a>
            </div>
            
        </div>
    </div>
</div>